@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Успішно відправлено!";
}
<div class="text-center pb-5 forgot_pass_confirmation">
    <h1>@ViewData["Title"]</h1>
    <p>
        Перевірте ваш email для зміни паролю.
    </p>
</div>