@model int
<div class="container row">
    <div id="ZamovlenniaPrinyatoUspishno" class="col-12 text-center">
        <h2 class="purple text-center">Замовлення прийнято успішно!</h2><br />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <img class="orderConfImg" src="~/images/OrderConfirmation.png" width="50%" />
        <br />
        <br />
        Дякуємо за Ваше замовлення! <br />
        Ми отримали ваше замовлення, і незабаром зв'яжемося з Вами!
        <br />
        Номер вашого замовлення: @Model
    </div>
</div>
