@model ClothesShop.Models.Category

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Створити категорію";
}

<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Id != 0)
        {
            //edit
            title = "Перейменувати категорію";
        }
        <div class="col-12 border-bottom">
            <h2 class="purple">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MainName">Основна категорія</label>
                </div>
                <div class="col-8">
                    <select asp-for="MainName" class="col-11">
                        <option value="Жінки">Жінки</option>
                        <option value="Чоловіки">Чоловіки</option>
                        <option value="Діти">Діти</option>
                    </select>
                    <span asp-validation-for="MainName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="SubName">Другорядна категорія</label>
                </div>
                <div class="col-8">
                    <input asp-for="SubName" class="form-control" />
                    <span asp-validation-for="SubName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Id" />
                    }
                    else
                    {
                        <partial name="_CreateAndBackToListButton" />
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
}